In [16]:
import chardet

with open('data/files/train.csv', 'rb') as f:
    result = chardet.detect(f.read(10000))
    print(result)

{'encoding': 'ISO-8859-1', 'confidence': 0.73, 'language': ''}

In [17]:
import pandas as pd

df_train = pd.read_csv('data/files/train.csv', encoding='ISO-8859-1',nrows=10000)

In [18]:
df_train.head()

,textID,text,selected_text,sentiment,Time of Tweet,Age of User,Country,Population -2020,Land Area (Km²),Density (P/Km²)
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral,morning,0-20,Afghanistan,38928346,652860.0,60
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative,noon,21-30,Albania,2877797,27400.0,105
2,088c60f138,my boss is bullying me...,bullying me,negative,night,31-45,Algeria,43851044,2381740.0,18
3,9642c003ef,what interview! leave me alone,leave me alone,negative,morning,46-60,Andorra,77265,470.0,164
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative,noon,60-70,Angola,32866272,1246700.0,26

In [19]:
df_train.shape

(10000, 10)

In [20]:
# Rename columns if needed
import json
df = df_train.rename(columns=lambda x: x.strip().lower())
assert 'text' in df.columns and 'sentiment' in df.columns, "CSV must contain 'text' and 'label' columns."

# Convert and save as JSONL
with open("train_converted.jsonl", "w", encoding="utf-8") as f:
    for _, row in df.iterrows():
        item = {"text": row["text"], "label": row["sentiment"].lower()}
        json.dump(item, f)
        f.write("\n")

print("✅ Converted to train_converted.jsonl")

✅ Converted to train_converted.jsonl